{% extends "layout.html" %}
{% block title %}Journals{% endblock %}
{% block body %}
<h1>Journals</h1>
<h5>All of your journals</h5>
{% if ls %}
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Entries</th>
  </thead>
  <tbody>
  {% for i in range(ls|length) %}
  <tr>
      <th scope="row">
        {{i+1}}
      </th>
      <td>
        <a href="/journal/{{ls[i].link}}">{{ls[i].name}}</a>
      </td>
      <td>
        {{ls[i].desc}}
      </td>
      <td>
        {{ls[i].entries|length}}
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endif %}
<div class="a-cont">
  <a class="btn btn-primary" role="button" href="/newjournal">Add a journal</a>
</div>
{% endblock %}
